<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#000000">
    {% block meta %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto%20Condensed:400,700" rel="stylesheet">
    <link href="/index.css?g" rel="stylesheet">

    <title>{% block title %}{% endblock %}AniStream</title>
</head>

<body>
    <div id="head">
        <a href="/" class="brand">//<span class="accent">AniStream</span>.local</a>
        <div class="fg"></div>
        {% block head %}{% endblock %}
    </div>
    <div id="head-pad"></div>
    {% block body %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script>
    $('img').one("load", function() {
        if ($(this)[0].naturalWidth !== 0)
            $(this).css({opacity: 1});
    }).each(function() {
        if(this.complete) {
            $(this).trigger('load');
        }
    });

    $('#filter').on('input', function(e) {
        var val = $(this).val().toLowerCase();
        $('.card').each(function() {
            var name = $(this).children('.ci').first().text().toLowerCase();
            if (name.indexOf(val) === -1)
                $(this).hide();
            else
                $(this).show();
        });
    });
    </script>
</body>
