{% extends "base.html" %}
{% block meta %}
    <meta property="og:title" content="AniStream" />
    <meta property="og:description" content="Stream high quality anime for free online" />
{% endblock %}

{% block body %}
    <div id="inner">
        {% for card in cards %}
            <a href="{{ card.url }}" class="card" style="background-image: url('{{ card.icon_url }}')">
                {% if card.is_new %}<div class="cnew">New!</div>{% endif %}
                <div class="ci">{{ card.name }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block head %}
    <div class="search">
        <input id="filter" placeholder="Filter">
    </div>
{% endblock %}
