{% extends "base.html" %}
{% block title %}{{ show.name }} - {% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ show.name }}" />
    <meta property="og:description" content="AniStream - Watch {{ show.name }} in high quality online for free" />
    <meta property="og:image" content="{{ show.icon_url }}" />
{% endblock %}

{% block body %}
    <div class="h1">{{ directory }}</div>
    <div id="inner">
        {% for episode in show.episodes %}
            <a href="{{ episode.href }}"><div>
                <div class="card-h">{% if episode.thumb %}<img src="{{ episode.thumb }}">{% endif %}
                    {% if episode.ep_str %}<div class="card-ep">{{ episode.ep_str }}</div>{% endif %}
                </div>
                <div class="cnw">
                    {% if not episode.ep_str %}<div class="card-n">{{ episode.name }}</div>{% endif %}
                </div>
            </div></a>
        {% endfor %}
    </div>
{% endblock %}
