{% extends "base.html" %}
{% block title %}{{ episode.name }} - {% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ episode.name }}" />
    <meta property="og:description" content="AniStream - Stream high quality anime for free online" />
{% endblock %}

{% block body %}
    <div id="inner" class="v-inner">
        <video controls autoplay>
            <source src="{{ episode.video_url }}" type="video/mp4">
        </video>

        <div id="title">{{ episode.name }}</div>
        <a id="back" href="{{ show.url }}">Back</a>
        <div id="suggestions">
          {% for item in suggestions %}
              <a href="{{ item.href }}"><div>
                  <div class="card-sug">{% if item.thumb %}<img class="reload" src="{{ item.thumb }}">{% endif %}
                      {% if item.ep_str %}<div class="card-sug-ttl">{{ item.ep_str }}</div>{% endif %}
                  </div>
              </div></a>
          {% endfor %}
        </div>
    </div>
{% endblock %}
