* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
}

#inner {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#inner.v-inner {
    max-width: 1024px;
}

.card {
    width: 140px;
    height: 200px;
    background-color: #222;
    position: relative;
    margin: 16px;
    background-size: cover;
    background-position: center;
}

.card, .card-h, .card-sug {
    box-shadow: 0 0 16px #000;
    transition: box-shadow 200ms ease-out;
}

.card-ep, .card-sug-ttl {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: .8em;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(155deg, rgba(0, 0, 0, .75) 10px, rgba(0, 0, 0, 0));
}

.card-sug-ttl {
    font-size: 1em;
}

#suggestions::before {
    content: "";
    display: block;
    height: 1px;
    width: 95%;
    margin: 5px auto;
    background-color: #1d1d1d;
}

#suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
}

.card:hover, .card-h:hover, .card-sug:hover {
    box-shadow: 0 0 32px #000;
}

.cnew {
    top: 0;
    bottom: 0;
    font-weight: 800;
    padding: 8px;
    font-size: 1.2em;
    height: 100%;

    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(155deg, rgba(0, 0, 0, .5) 10px, rgba(0, 0, 0, 0) 50%);
}

.ci {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, .9) calc(100% - 96px), rgba(0, 0, 0, 0));
    padding: 8px;
    padding-top: 64px;

    font-size: .9em;
}

#head-pad {
    height: 46px;
}

#head {
    min-height: 3.5em;
    align-items: center;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;

    background-color: #000;

    font-size: 13px;
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 700;
    font-family: roboto condensed,Helvetica,sans-serif;

    box-shadow: 0 0 64px #000;
}

#head .brand, .btn {
    padding: 1.1875em 1.125em;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.accent{
    color: #AB2346;
}

.btn-primary {
    background-color: #AB2346;
    padding: .5em 1em;
    margin: .6875em 1.125em;
    color: #fff;
    display: block;
}

.fg {flex-grow: 1}

a {
    color: #AB2346;
    text-decoration: none;
}

a:visited {
    color: #BB4E6A;
}

.h1 {
    text-align: center;
    color: #AB2346;
    margin-top: 1em;
    font-size: 1.8em;
}

.card-h {
    width: 208px;
    height: 117px;
    background-color: #222;
    position: relative;
    margin: 16px 16px 4px 16px;
    background-size: cover;
    background-position: center;
}

.card-h img {
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.card-sug {
    width: 240px;
    height: 135px;
    background-color: #222;
    position: relative;
    margin: 16px 16px 4px 16px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card-sug img {
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(1.03);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: .5;
}

.card-n {
    width: 208px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cnw {
    position: relative;
    width: 208px;
    margin: 0 16px 16px 16px;
    font-size: .8em;
    text-align: center;
}

.tool {
    position: absolute;
    top: 100%;
    margin-top: 6px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 2px;
    background-color: rgba(34, 7, 14, .9);
    color: #fff;
    width: 170px;
    word-break: break-all;

    display: none;
    opacity: 0;
    z-index: 10;
    transition: opacity 100ms;
}

.card-n:hover + .tool, .card-h:hover + .cnw>.tool {
    display: initial;
    opacity: 1;
}

.small {
    font-size: .8em;
}

video {
    margin-top: 1em;
    height: 100%;
    width: 100%;

    background-color: #000;
}

#title {
    margin: 10px 10px;
    font-weight: 300;
    font-size: 1.2em;
    color: #fff;
    text-align: left;
    width: 100%;
}

#back {
    width: 100%;
    text-align: left;
    margin: 0 10px;
}


.search {
    width: 35vw;
    height: 28px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search input {
    background-color: #111;
    width: 100%;
    height: 100%;
    padding: 2px 16px;
    border-radius: 14px;
    color: #ccc;
}

.search input:focus {
    background-color: #222;
}

input:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media only screen and (max-width: 500px) {
    .card-h {
        width: 240px;
        height: 135px;
        background-color: #222;
        position: relative;
        margin: 16px 16px 4px 16px;
        background-size: cover;
        background-position: center;
    }

    .card-n, .cnw {
        width: 240px;
    }

    .tool {
        width: 250px;
    }
}
